menu "Remoteproc drivers"

# REMOTEPROC gets selected by whoever wants it
config REMOTEPROC
	tristate
	depends on HAS_DMA
	select CRC32
	select FW_LOADER
	select VIRTIO
	select VHOST_RING
	select VIRTUALIZATION

config OMAP_REMOTEPROC
	tristate "OMAP remoteproc support"
	depends on HAS_DMA
	depends on ARCH_OMAP4 || SOC_OMAP5
	depends on OMAP_IOMMU
	select REMOTEPROC
	select MAILBOX
	select OMAP2PLUS_MBOX
	select RPMSG
	help
	  Say y here to support OMAP's remote processors (dual M3
	  and DSP on OMAP4) via the remote processor framework.

	  Currently only supported on OMAP4.

	  Usually you want to say y here, in order to enable multimedia
	  use-cases to run on your platform (multimedia codecs are
	  offloaded to remote DSP processors using this framework).

	  It's safe to say n here if you're not interested in multimedia
	  offloading or just want a bare minimum kernel.

config STE_MODEM_RPROC
	tristate "STE-Modem remoteproc support"
	depends on HAS_DMA
	select REMOTEPROC
	default n
	help
	  Say y or m here to support STE-Modem shared memory driver.
	  This can be either built-in or a loadable module.
	  If unsure say N.

config DA8XX_REMOTEPROC
	tristate "DA8xx/OMAP-L13x remoteproc support"
	depends on ARCH_DAVINCI_DA8XX
	select CMA if MMU
	select REMOTEPROC
	select RPMSG
	help
	  Say y here to support DA8xx/OMAP-L13x remote processors via the
	  remote processor framework.

	  You want to say y here in order to enable AMP
	  use-cases to run on your platform (multimedia codecs are
	  offloaded to remote DSP processors using this framework).

	  This module controls the name of the firmware file that gets
	  loaded on the DSP.  This file must reside in the /lib/firmware
	  directory.  It can be specified via the module parameter
	  da8xx_fw_name=<filename>, and if not specified will default to
	  "rproc-dsp-fw".

	  It's safe to say n here if you're not interested in multimedia
	  offloading.

# config CSR hypervisor remoteproc.
config CSRVISOR_SW_FIFO
	tristate
	default n

config CSRVISOR_REMOTEPROC
	tristate
	select REMOTEPROC
	select CSRVISOR_SW_FIFO
	default n

config CSRVISOR_REMOTEPROC_BACKEND
	tristate "CSRVisor remoteproc support for backend OS"
	depends on SECURITY_MODE
	select VIRTIO_BACKEND
	select CSRVISOR_REMOTEPROC
	default n
	help
	  Say y here to support CSR hypervisor remote processors via the
	  remote processor framework in backend OS which is running
	  in ARM secure mode.

	  This can be either built-in or a loadable module.
	  If unsure say N.

config CSRVISOR_REMOTEPROC_FRONTEND
	tristate "CSRVisor remoteproc support for frontend OS"
	depends on !SECURITY_MODE
	select CSRVISOR_REMOTEPROC
	default n
	help
	  Say y here to support CSR hypervisor remote processors via the
	  remote processor framework in frontend OS which is running
	  in ARM non-secure mode.

	  This can be either built-in or a loadable module.
	  If unsure say N.

config SIRF_REMOTEPROC
	tristate
	select REMOTEPROC
	default n

config SIRF_REMOTEPROC_BACKEND
	tristate "SIRF remoteproc support for backend OS"
	depends on SECURITY_MODE
	select VIRTIO_BACKEND
	select SIRF_REMOTEPROC
	default n
	help
	  Say y here to support SIRF remote processors via the
	  remote processor framework in backend OS which is running
	  in ARM secure mode.

	  This can be either built-in or a loadable module.
	  If unsure say N.

config SIRF_REMOTEPROC_FRONTEND
	tristate "SIRF remoteproc support for frontend OS"
	depends on !SECURITY_MODE
	select SIRF_REMOTEPROC
	default n
	help
	  Say y here to support SIRF remote processors via the
	  remote processor framework in frontend OS which is running
	  in ARM non-secure mode.

	  This can be either built-in or a loadable module.
	  If unsure say N.

endmenu
