config SND_SIRF_SOC
	tristate "SoC Audio for the SiRF SoC chips"
	depends on ARCH_SIRF && SND_SOC
	select SND_SOC_GENERIC_DMAENGINE_PCM

config SND_SIRF_SOC_INNER
	tristate

config SND_SIRF_INNER
	tristate "SoC Audio support for SiRF inner codec of Atlas6 EVB"
	depends on SND_SIRF_SOC
	select SND_SIRF_SOC_INNER

config SND_SOC_SIRF_USP
	tristate

config SND_SOC_SIRF_I2S
	tristate

config SND_SOC_SIRF_BT_SCO
	tristate "SoC Audio support for BT SCO of Atlas6 EVB"
	depends on SND_SIRF_SOC
	select SND_SOC_BT_SCO
	select SND_SOC_SIRF_USP

config SND_SOC_SIRF_HDMI
	tristate "SoC Audio support for SiRF HDMI of Atlas6 EVB"
	depends on SND_SIRF_SOC
	select SND_SOC_SIRF_I2S
	select SND_SOC_HDMI_CODEC
