menu "Rpmsg drivers"

# RPMSG always gets selected by whoever wants it
config RPMSG_FRONTEND
	tristate
	default n

config RPMSG_BACKEND
	tristate
	default n

config RPMSG
	tristate
	select VIRTIO
	select VIRTUALIZATION
	select RPMSG_BACKEND if (CSRVISOR_REMOTEPROC_BACKEND)
	select RPMSG_FRONTEND if (CSRVISOR_REMOTEPROC_FRONTEND)

endmenu
