/*
 * DTS file for CSR SiRFatlas7 Evaluation Board
 *
 * Copyright (c) 2012 Cambridge Silicon Radio Limited, a CSR plc group company.
 *
 * Licensed under GPLv2 or later.
 */

/dts-v1/;

/include/ "atlas7.dtsi"

/ {
	model = "CSR SiRFatlas7 Evaluation Board";
	compatible = "sirf,atlas7-cb", "sirf,atlas7";

	chosen {
		/* bootargs = "console=ttySiRF1,115200 earlyprintk lpj=7970816 initrd=0x43008000,0x500000"; */
		bootargs = "console=ttySiRF1,115200 earlyprintk";
	};

	memory {
		device_type = "memory";
		reg = <0x40000000 0x20000000>; /* 512M for PXP */
	};

	noc {
                audiom {
                        timer@10dc0000 {
                                status = "okay";
                        };
                        timerb@10dc8000 {
                                status = "disabled";
                        };
                };
                mediam {
                        sdhci@16000000 {
                                status = "okay";
                        };
                };

		vdifm {
			sdhci@14200000 {
				status = "okay";
			};
		};

                gnssm {
			uart1: uart@18020000 {
				status = "okay";
			};

                        uart0: uart@18010000 {
				status = "okay";
                        };

			uart2: uart@18030000 {
				status = "okay";
			};

			uart3: uart@18040000 {
				status = "okay";
			};

			uart4: uart@18050000 {
				status = "okay";
			};

			uart5: uart@18060000 {
				status = "okay";
			};
                };

		btm {
			uart6: uart@11000000 {
				status = "disabled";
			};
		};

		ipc@13240000 {
			ns_m3_rproc@0 {
				sirf,ipc-mem = <0x4FD00000 0xD0D00000 0x10000>;
				status = "okay";
			};

			ns_m3_rproc@1 {
				status = "disabled";
			};

			ns_kal_rproc@0 {
				sirf,ipc-mem = <0x4FD10000 0xD0D10000 0x10000>;
				status = "okay";
			};

			ns_kal_rproc@1 {
				status = "disabled";
			};
		};
	};
};
