/*
 * DTS file for CSR SiRFatlas7 Evaluation Board
 *
 * Copyright (c) 2012 Cambridge Silicon Radio Limited, a CSR plc group company.
 *
 * Licensed under GPLv2 or later.
 */

/dts-v1/;

/include/ "atlas7.dtsi"

/ {
	model = "CSR SiRFatlas7 Evaluation Board";
	compatible = "sirf,atlas7-cb", "sirf,atlas7";

	chosen {
		/* bootargs = "console=ttySiRF1,115200 earlyprintk lpj=7970816 initrd=0x43008000,0x500000"; */
		bootargs = "console=ttySiRF1,115200 earlyprintk clk_ignore_unused";
	};

	memory {
		device_type = "memory";
		reg = <0x40000000 0x20000000>; /* 512M for PXP */
	};

	axi {
		peri-iobg {
			pci-iobg {
				sdhci@14200000 {
					status = "okay";
				};
			};
		};
	};
};
