/*
 * DTS file for CSR SiRFatlas6 Evaluation Board
 *
 * Copyright (c) 2012 Cambridge Silicon Radio Limited, a CSR plc group company.
 *
 * Licensed under GPLv2 or later.
 */

/dts-v1/;

/include/ "atlas6.dtsi"

/ {
	model = "CSR SiRFatlas6 Evaluation Board";
	compatible = "sirf,atlas6-cb", "sirf,atlas6";
	cpus {
		cpu@0 {
			cpu0-supply = <&vcore>;
			operating-points = <
				/* kHz    uV */
				200000  1035000
				400000  1035000
				600000  1150000
				800000  1150000
			>;
		};
	};

	memory {
		reg = <0x00000000 0x20000000>;
	};
	sound {
		compatible = "sirf,sirf-inner";
		sirf,inner-codec = <&audio>;
		sirf,inner-platform = <&audio>;
		hp-pa-gpios = <&gpio 44 0>;
		spk-pa-gpios = <&gpio 46 0>;
		hp-switch-gpios = <&gpio 45 0>;
	};

	bt {
		compatible = "csr,bt-8311";
		bt_gpio_power = <&gpio 89 0>;
		bt_gpio_reset = <&gpio 87 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pwm1_pins_a>;
		pwms = <&pwm 1 30518>;
	};


	bt-sco {
		compatible = "bt-sco";
	};
	sirf-bt-sco {
		compatible = "sirf,sirf-bt-sco";
		codec-clock-frame-master = <1>;
	};
	hdmi_audio: hdmi_audio@0 {
		compatible = "linux,hdmi-audio";
		status = "okay";
	};
	sirf-hdmi {
		compatible = "sirf,hdmi-card";
		i2s-controller = <&i2s>;
		audio-codec = <&hdmi_audio>;
	};
	sirf-backlight {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pwm3_pins_a>;
		pwms = <&pwm 3 50000>;
		brightness-levels = <0 48 56 64 96 112 128 255>;
		default-brightness-level = <6>;
	};
	axi {
		dsp-iobg {
			gps@a8010000 {
				compatible = "sirf,prima2-gps";
				shutdown-gpios = <&gpio 6 0>;
				grst-gpios = <&gpio 8 0>;
				clk-out-gpios = <&gpio 61 0>;
				lan-en-gpios = <&gpio 64 0>;
			};
		};
		peri-iobg {
			gpio: pinctrl@b0120000 {
				sirf,pullups = <0 0 0 0 0>;
				sirf,pulldowns = <0 0x00100000 0 0 0>;
			};
			uart@b0050000 {
				pinctrl-names = "default";
				pinctrl-0 = <&uart0_pins_a>;
				sirf,uart-has-rtscts;
			};
			uart@b0060000 {
				pinctrl-names = "default";
				pinctrl-0 = <&uart1_pins_a>;
			};
			uart@b0070000 {
				pinctrl-names = "default";
				pinctrl-0 = <&uart2_pins_a>;
				sirf,uart-has-rtscts;
			};
			i2s@b0040000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2s_pins_a>;
			};
			vip@b00C0000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&vip_pins_a>;
				rearview-gpio = <&gpio 4 0>;
			};
			spi@b0170000 {
				pinctrl-names = "default";
				pinctrl-0 = <&spi1_pins_a>;
			};
			usp@b0080000 {
				compatible = "sirf,prima2-usp-pcm", "sirf,prima2-usp";
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&usp0_only_utfs_pins_a>;
			};
			i2c0: i2c@b00e0000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins_a>;
				clock-frequency = <40000>;
				lcd@40 {
					compatible = "sirf,lcd", "sirf,phy";
					reg = <0x40>;
				};
			};
			i2c1: i2c@b00f0000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&i2c1_pins_a>;
				ch7102@f0 {
					compatible = "chrontel,ch7102";
					reg = <0xf0>;
				};
				tangoc-ts@5c{
					compatible = "pixcir,tangoc-ts";
					interrupt-parent = <&gpio>;
					interrupts = <3 0x02>;
					reg = <0x5c>;
				};
				ft5x06@38{
					compatible = "focaltech,ft5x06";
					touch-gpio = <&gpio 3 0>;
                                        reg = <0x38>;
                                };
			};
			pwm: pwm@b0130000 {
				/* sigsrc1(pll1) is used for dvfs, ignore it */
				clocks = <&clks 21>, <&clks 1>, <&clks 3>,
					<&clks 0>, <&clks 4>;
				clock-names = "pwmc", "sigsrc0", "sigsrc2",
					"sigsrc3", "sigsrc4";
			};
			adc@b0110000 {
				tsc {
					compatible = "sirf,dualtouch-tsc";
					interrupts = <33>;
					io-channels = <&adc 1>;
					io-channel-names = "dual_ts";
				};
			};
			pci-iobg {
				sd0: sdhci@56000000 {
					status = "okay";
					pinctrl-names = "default";
					pinctrl-0 = <&sdmmc0_pins_a>;
				};
				sd2: sdhci@56200000 {
					status = "okay";
					pinctrl-names = "default";
					pinctrl-0 = <&sdmmc2_pins_a>;
				};
				sd5: sdhci@56500000 {
					status = "okay";
					pinctrl-names = "default";
					pinctrl-0 = <&sdmmc5_pins_a>;
					#address-cells = <1>;
					#size-cells = <0>;
					sdio_sirf@0 {
						compatible = "sirf,trig_sdio";
						reg = <0x0>;
					};
				};
			};
		};
		disp-iobg {
			lcd@90010000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&lcd_24pins_a>;
				avail-panels = <&panel0 &panel1>;
				default-panel = <&panel0>;
				/*layer enable info,default only enable layer1 */
				layer-ctrl = <0x0000000f>;
			};
		};
		uus-iobg {
			usbphy1: usbphy1@b8010200 {
				vbus-gpios = <&gpio 14 0>;
			};
		};
	};
	display: display@0 {
		panels {
			panel0: panel@0 {
				panel-name = "Innolux TFT";
				hactive = <800>;
				vactive = <480>;
				left-margin = <20>;
				right-margin = <234>;
				upper-margin = <3>;
				lower-margin = <41>;
				hsync-len = <3>;
				vsync-len = <2>;
				pixclock = <33264000>;
				sync = <3>;
				timing = <0x88>;
			};
			panel1: panel@1 {
				panel-name = "Innolux WSVGA";
				hactive = <1024>;
				vactive = <600>;
				left-margin = <28>;
				right-margin = <288>;
				upper-margin = <8>;
				lower-margin = <24>;
				hsync-len = <4>;
				vsync-len = <3>;
				pixclock = <51200000>;
				sync = <3>;
				timing = <0xA0>;
			};
		};
	};
	vcore: regulator-gpio {
		compatible = "regulator-gpio";
		regulator-min-microvolt = <1035000>;
		regulator-max-microvolt = <1150000>;
		regulator-name = "vcore";
		regulator-type = "voltage";

		enable-at-boot;

		states = <1035000 0x1
			  1150000 0x0>;
		gpios = <&gpio 102 0>;
	};
};
