/*
 * DTS file for CSR SiRFatlas7 SoC External Amber Chip
 *
 * Copyright (c) 2014 Cambridge Silicon Radio Limited, a CSR plc group company.
 *
 * Licensed under GPLv2 or later.
 */

/ {
	bt_sco_a2dp: bt-sco-a2dp {
		#sound-dai-cells = <0>;
		compatible = "bt-sco-a2dp";
		status = "okay";
	};
/*
 * FIXME
 * Now pcm interface is used in android while i2s interface is used in linux
 * It is necessay to drop this workaround after i2s interface is used in android
 */
#ifdef CONFIG_ANDROID
	sirf-bt-sco-a2dp {
		compatible = "simple-audio-card";
		simple-audio-card,format = "dsp_a";
		simple-audio-card,cpu {
			sound-dai = <&usp3>;
		};
		simple-audio-card,codec {
			sound-dai = <&bt_sco_a2dp>;
			bitclock-master;
			frame-master;
		};
	};
#endif
	noc {
		vdifm {
			sdhci@14300000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&sd3_pmx>;
				clocks = <&car 70>, <&car 75>;
				broken-cd;
			};
		};
		gnssm {
			uart4: uart@18050000 {
				status = "okay";
				pinctrl-0 = <&uart4_pmx2>;
				pinctrl-names = "default";
				sirf,uart-has-rtscts;
			};
			bt {
				compatible = "sirf,amber-9300";
				amber9300_gpio_power = <&gpio_3 15 0>;
				amber9300_gpio_reset = <&gpio_1 76 0>;
			};
		};
#ifdef CONFIG_ANDROID
		audiom {
			usp1: usp@10d30000 {
				status = "okay";
				#sound-dai-cells = <0>;
				compatible = "sirf,prima2-usp-pcm";
				pinctrl-names = "default";
				pinctrl-0 = <&audio_uart1_pmx>;
			};
		};
#endif
	};
};
