/*
 * DTS file for CSR SiRFatlas7 Evaluation Board
 *
 * Copyright (c) 2012 Cambridge Silicon Radio Limited, a CSR plc group company.
 *
 * Licensed under GPLv2 or later.
 */

/dts-v1/;

/include/ "atlas7.dtsi"

/ {
	model = "CSR SiRFatlas7 Evaluation Board";
	compatible = "sirf,atlas7-cb", "sirf,atlas7";

	chosen {
		/* bootargs = "console=ttySiRF1,115200 earlyprintk lpj=7970816
				initrd=0x43008000,0x500000"; */
		bootargs = "console=ttySiRF1,115200 earlyprintk";
	};

	memory {
		device_type = "memory";
		reg = <0x40000000 0x20000000>; /* 512M for PXP */
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		ipc_mem0: ns_m3_mem@4fd00000 {
			compatible = "sirf,reserved-memory";
			reg = <0x4FD00000 0x10000>;
		};

		ipc_mem1: ns_kal_mem@4fd10000 {
			compatible = "sirf,reserved-memory";
			reg = <0x4FD10000 0x10000>;
		};
	};

	noc {
		audiom {
			timer@10dc0000 {
				status = "okay";
			};

			timerb@10dc8000 {
				status = "disabled";
			};

			usp2: usp@10d40000 {
				status = "okay";
				compatible = "sirf,marco-usp-spi";
				pinctrl-0 = <&audio_uart2_pmx0>;
				pinctrl-names = "default";
				marco-usp-spi;
				spi@0 {
					compatible = "spidev";
					reg = <0>;
					spi-max-frequency = <1000000>;
				};
			};

			vip0@10db0000 {
				status = "okay";
				port {
					#address-cells = <1>;
					#size-cells = <0>;
					vip0_0: endpoint@0 {
						reg = <0>;
						hsync-active = <0>;
						vsync-active = <0>;
						remote-endpoint = <&cvd_1>;
					};
				};
			};

			cvd@10db2000 {
				compatible = "sirf,cvd";
					input-number = <2>;
					inputs = <&cvbs0 &cvbs1>;
					cvbs0: cvbs@0 {
						input-name = "camera";
						input-id = <0>;
					};
					cvbs1: cvbs@1 {
						input-name = "dvd";
						input-id = <1>;
					};
					port {
						cvd_1: endpoint {
						remote-endpoint = <&vip0_0>;
					};
				};
			};
		};
		mediam {
			sdhci@16000000 {
				status = "okay";
			};
			i2c0: i2c@17020000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pmx>;
				clock-frequency = <40000>;
			};
		}

		vdifm {
			sdhci@14200000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&sd2_pmx0>;
			};

			sdhci@14500000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&sd5_pmx>;
			};

			sdhci@14700000 {
				status = "okay";
			};
		};

		gnssm {
			uart1: uart@18020000 {
				status = "okay";
			};

			uart0: uart@18010000 {
				status = "okay";
				pinctrl-0 = <&uart0_pmx>;
				pinctrl-names = "default";
                        };

			uart2: uart@18030000 {
				status = "disabled";
				pinctrl-0 = <&uart2_pmx>;
				pinctrl-names = "default";
			};

			uart3: uart@18040000 {
				status = "okay";
				pinctrl-0 = <&uart3_pmx0>;
				pinctrl-names = "default";
			};

			uart4: uart@18050000 {
				status = "okay";
				pinctrl-0 = <&uart4_pmx1>;
				pinctrl-names = "default";
			};

			uart5: uart@18060000 {
				status = "okay";
			};

			spi1: spi@18200000 {
				status = "disabled";
				pinctrl-0 = <&sp1_spi_pmx>;
				pinctrl-names = "default";
				spidev {
					compatible = "spidev";
					spi-max-frequency = <1000000>;
					reg = <0>;
				};
			};
		};

		btm {
			uart6: uart@11000000 {
				status = "okay";
			};
		};

		rtcm {
			qspi: flash@188B0000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&sp0_qspi_pmx>;
				clock-rate = <20000000>;        /* 20MHz */

				flash: micron@0{
					reg = <0>;
					#address-cells = <1>;
					#size-cells = <1>;
					partitions@0 {
						label = "myboot";
						reg = <0x0 0x1000000>;
					};
				};
			};
		};

		ipc@13240000 {
			ns_m3_rproc@0 {
				memory-region = <&ipc_mem0>;
				status = "okay";
			};

			ns_m3_rproc@1 {
				status = "disabled";
			};

			ns_kal_rproc@0 {
				memory-region = <&ipc_mem1>;
				status = "okay";
			};

			ns_kal_rproc@1 {
				status = "disabled";
			};
		};

		disp-iobg {
			lcd@13100000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&ld_ldd_pmx>;
			};
		};

		display0: display@0 {
			compatible = "rgb-panel";
			source = "rgb.0";

			bl-gpios = <&gpio_1 63 0>;
			data-lines  = <24>;

			display-timings {
				native-mode = <&timing0>;
				timing0: timing0 {
					clock-frequency = <40000000>;
					hactive = <800>;
					vactive = <480>;
					hfront-porch = <210>;
					hback-porch = <45>;
					hsync-len = <1>;
					vback-porch = <22>;
					vfront-porch = <132>;
					vsync-len = <1>;
					hsync-active = <0>;
					vsync-active = <0>;
					de-active = <1>;
					pixelclk-active = <1>;
				};
			};
		};
	};
};
