/*
 * DTS file for CSR SiRFprimaII Evaluation Board
 *
 * Copyright (c) 2012 Cambridge Silicon Radio Limited, a CSR plc group company.
 *
 * Licensed under GPLv2 or later.
 */

/dts-v1/;

/include/ "prima2.dtsi"

/ {
	model = "CSR SiRFprimaII Evaluation Board";
	compatible = "sirf,prima2", "sirf,prima2-cb";

	memory {
		reg = <0x00000000 0x20000000>;
	};
	sound {
		compatible = "sirf,sirf-inner";
		sirf,inner-codec = <&audio>;
		sirf,inner-platform = <&audio>;
		hp-pa-gpios = <&gpio 56 0>;
		hp-switch-gpios = <&gpio 14 0>;
	};

	bt {
		compatible = "csr,bt-8311";
		bt_gpio_power = <&gpio 62 0>;
		bt_gpio_reset = <&gpio 3 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pwm1_pins_a>;
		pwms = <&pwm 1 0 0 3>;
	};


	sirf-backlight {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pwm3_pins_a>;
		pwms = <&pwm 3 50000 50000 0>;
		brightness-levels = <0 48 56 64 96 112 128 255>;
		default-brightness-level = <6>;
	};
	axi {
		peri-iobg {
			pci-iobg {
				sd1: sdhci@56100000 {
					status = "okay";
					pinctrl-names = "default";
					pinctrl-0 = <&sdmmc1_pins_a>;
				};
				sd4: sdhci@56400000 {
					status = "okay";
					pinctrl-names = "default";
					pinctrl-0 = <&sdmmc4_pins_a>;
				};
				sd5: sdhci@56500000 {
					status = "okay";
					pinctrl-names = "default";
					pinctrl-0 = <&sdmmc5_pins_a>;
					#address-cells = <1>;
					#size-cells = <0>;
					sdio_sirf@0 {
						compatible = "sirf,trig_sdio";
						reg = <0x0>;
					};
				};
			};

			uart@b0050000 {
				pinctrl-names = "default";
				pinctrl-0 = <&uart0_pins_a>;
				sirf,uart-has-rtscts;
			};
			uart@b0060000 {
				pinctrl-names = "default";
				pinctrl-0 = <&uart1_pins_a>;
			};
			uart@b0070000 {
				pinctrl-names = "default";
				pinctrl-0 = <&uart2_noflow_pins_a>;
			};
			usp@b0080000 {
				pinctrl-names = "default";
				pinctrl-0 = <&usp0_pins_a>;
			};
			usp@b0090000 {
				pinctrl-names = "default";
				pinctrl-0 = <&usp1_uart_nostreamctrl_pins_a>;
			};
			vip@b00C0000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&vip_pins_a>;
				power-gpio = <&gpio 9 0>;
				reset-gpio = <&gpio 12 0>;
				rearview-gpio = <&gpio 31 0>;
			};
			spi@b00d0000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&spi0_pins_a>;
				spi@0 {
					compatible = "spidev";
					reg = <0>;
					spi-max-frequency = <1000000>;
				};
			};
			i2c0: i2c@b00e0000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins_a>;
				clock-frequency = <40000>;
				lcd@40{
					compatible = "sirf,lcd";
					reg = <0x40>;
				};

			};
			i2c1: i2c@b00f0000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&i2c1_pins_a>;
				ch7102@f0{
					compatible = "chrontel,ch7102";
					reg = <0xf0>;
				};
				tangoc-ts@5c{
					compatible = "pixcir,tangoc-ts";
					touch-gpio = <&gpio 34 0>;
					reg = <0x5c>;
				};
				ft5x06@38{
					compatible = "focaltech,ft5x06";
                                        interrupts = <34>;
                                        reg = <0x38>;
                                };

			};
                        tsc {
                                compatible = "sirf,prima2-tsc";
                                interrupts = <33>;
                                reset-bit = <32>;
                        };
		};
                disp-iobg {
                      lcd@90010000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&lcd_24pins_a>;
				avail-panels = <&panel0 &panel1>;
				default-panel = <&panel0>;
				/*layer enable info,default only enable layer1 */
				layer-ctrl = <0x000000f>;
		      };
		};
	};

	display: display@0 {
		panels {
			panel0: panel@0 {
				panel-name = "Samsung WVGA";
				hactive = <800>;
				vactive = <480>;
				left-margin = <13>;
				right-margin = <8>;
				upper-margin = <5>;
				lower-margin = <5>;
				hsync-len = <3>;
				vsync-len = <3>;
				pixclock = <24000000>;
				sync = <3>;
				timing = <0xA8>;
			};
			panel1: panel@1 {
				panel-name = "Innolux WSVGA";
				hactive = <1024>;
				vactive = <600>;
				left-margin = <28>;
				right-margin = <288>;
				upper-margin = <8>;
				lower-margin = <24>;
				hsync-len = <4>;
				vsync-len = <3>;
				pixclock = <51200000>;
				sync = <3>;
				timing = <0xA0>;
			};
		};
	};
};
